@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

form {
  width: 55%;
  margin: 50px auto;
}
fieldset {
  width: 90%;
  margin: 50px;
  border: 1px solid gray;
  border-radius: 15px;
}
h2 {
  font-size: 20px;
  padding: 10px auto;
}
form div {
  width: 80%;
  margin: 20px auto;
}
form label {
  text-align: right;
  display: inline-block;
  width: 30%;
  margin: 8px 5px;
  padding: 10px;
  color: gray;
  font-weight: bold;
}
form input {
  width: 35%;

  padding: 5px 20px;
  border-radius: 25px;
  outline: 0;
  border-color: gray;
}

.btn_check button {
  width: 50px;
  height: 50px;
  padding: 5px 20px;
  border-radius: 25px;
  outline: 0;
  border-color: gray;
}

.btn_signbtn button {
  width: 20%;
  height: 50px;
  margin: 20px 50px;
  border-radius: 15px;
}
