<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.honjal.honjal.dao.ext.ContentDao">
 
 	<select id="findByIdContent" parameterType="Integer" resultType="ContentVO">
		SELECT * FROM tbl_content
		WHERE content_num = #{content_num}
	</select>

 	<select id="contentMenu" parameterType="String" resultType="ContentListDTO">
		SELECT * FROM tbl_content
		WHERE board_code LIKE CONCAT(#{menu}, '%')
		ORDER BY content_num DESC
	</select>
	
	<select id="searchTitleContent" parameterType="String" resultType="ContentListDTO">
		SELECT * FROM tbl_content
		WHERE content_title LIKE CONCAT('%', #{search_word}, '%') AND board_code LIKE CONCAT(#{menu}, '%')
		ORDER BY content_num DESC
	</select>
	
 	<insert id="insert" parameterType="ContentVO">
 		INSERT INTO tbl_content(member_num, member_nname, board_code, content_date, content_time, content_title, content_text, content_view, content_good)
 		VALUES(#{member_num}, #{member_nname}, #{board_code}, #{content_date}, #{content_time}, #{content_title}, #{content_text}, #{content_view}, #{content_good})
 	</insert>
 	
 	<update id="update" parameterType="ContentVO">
 		UPDATE tbl_content
 		SET content_title = #{content_title}, content_text = #{content_text}
 		WHERE content_num = #{content_num}
 	</update>
 	
 	<delete id="delete" parameterType="Integer">
 		DELETE FROM tbl_content WHERE content_num = #{content_num}
 	</delete>
 	
 	<select id="bestContent" resultType="BestContentVO">
 		SELECT content_num, content_title
 		FROM tbl_content
 		WHERE content_date BETWEEN DATE_ADD(NOW(), INTERVAL-1 WEEK) AND NOW()
 		ORDER BY content_good DESC
 		LIMIT 5
 	</select>
 	
 	<!-- 조회수 -->
 	<update id="view_count" parameterType="int">
        UPDATE tbl_content
        SET content_view = content_view + 1
        WHERE content_num=#{content_num}
	</update>
	
	<!-- 제목옆댓글수 -->
 	<update id="addReply" parameterType="ContentVO">
	UPDATE tbl_content 
	SET reply_count=reply_count+1
	WHERE reply_count=#{reply_count}
    </update>
    <!-- 댓글수 -->
    <select id="reply_count">
    select count(*) from tbl_content
	where reply_count = #{reply_count}
    </select>
	
	
	
 	
 </mapper>