<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.honjal.honjal.dao.ext.ContentGoodDao">
 
 	<select id="checkGood" parameterType="GoodVO" resultType="int">
 		SELECT COUNT(content_num)
 		FROM tbl_good
 		WHERE content_num = #{content_num} AND member_num = #{member_num}
 	</select>
 
 	<insert id="insertGood" parameterType="GoodVO">
 		INSERT INTO tbl_good(content_num, member_num)
 		VALUES(#{content_num}, #{member_num})
 	</insert>
 	<update id="insertUpGood" parameterType="GoodVO">
 		UPDATE tbl_content
 		SET content_good = content_good + 1
 		WHERE content_num = #{content_num}
 	</update>
 	
 	<delete id="deleteGood" parameterType="GoodVO">
        DELETE FROM tbl_good
        WHERE content_num = #{content_num} AND member_num = #{member_num}
    </delete>
    <update id="deleteUpGood" parameterType="GoodVO">
 		UPDATE tbl_content
 		SET content_good = content_good - 1
 		WHERE content_num = #{content_num}
 	</update>
 	
 	<select id="getGood" parameterType="Integer" resultType="int">
        SELECT COUNT(content_num) FROM tbl_good WHERE content_num = #{content_num}
    </select>
 	
 </mapper>